:root {
  --text-color: #000000;
  --accent-text-bg-color: #231f20;
  --accent-color: #f7941e;
  --secondary-text-color: #ffffff;
  --bgc-main: #ffffff;
  --bgc-secondary: #f1f1f2;
  --third-bgc: #fafafa;
}

body {
  background-color: var(--bgc-main);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1440px;
}

/* -----------------HEADER--------------------- */

header .container {
  padding: 27px 40px 27px 80px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  line-height: 2.17;
  text-align: center;
  color: var(--accent-text-bg-color);
  margin-right: auto;
}

.list-nav {
  display: flex;
}

.item-nav {
  padding: 20.3px 0;
}

.item-nav:not(:last-child) {
  margin-right: 31px;
}

.nav-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color);
}

.nav-btn {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--bgc-main);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  width: 150px;
  height: 43.5px;
  margin-left: auto;
  padding: 0;
}

/* -----------------HERO--------------------- */

.hero-section .container {
  display: flex;
  justify-content: space-between;
  background-color: var(--bgc-secondary);
}

.hero-main {
  padding: 154px 0 135px 162px;
  min-width: 721px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.23;
  max-width: 433px;
  margin-bottom: 32px;
}

.hero-text {
  font-size: 20px;
  max-width: 433px;
  margin-bottom: 52px;
}

.hero-btn {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--bgc-secondary);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  width: 200px;
  height: 60px;
  padding: 0;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* -----------------WORK--------------------- */

.work-section .container {
  display: flex;
  justify-content: space-between;
  background-color: var(--bgc-secondary);
}

.work-main {
  min-width: 719px;
  padding: 164px 0 104px 112px;
}

.work-title {
  font-size: 32px;
  max-width: 441px;
  margin-bottom: 23px;
}

.work-text {
  font-size: 20px;
  text-align: justify;
  max-width: 441px;
  margin-bottom: 35px;
}

.work-btn {
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--bgc-secondary);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  width: 200px;
  height: 60px;
  padding: 0;
}

.work-btn:hover,
.work-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* -----------------GIFTS--------------------- */

.gifts-section .container {
  padding: 96px 135px 125px;
}

.gifts-heading {
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 23px;
}

.gifts-text {
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 64px;
}

.gifts-title {
  font-size: 20px;
  line-height: 1.2;
  margin: 24px 24px 74px 24px;
}

.gifts-list {
  display: flex;
  flex-wrap: wrap;
}

.gifts-item {
  background-color: var(--third-bgc);
}

.gifts-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.gifts-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.details {
  font-family: 'Roboto', sans-serif;
  line-height: 1.36;
  margin-bottom: 24px;
  margin-left: 24px;
}

/* -----------REGISTRATION--------------------------- */

.registration .container {
  background-color: var(--accent-color);
}

.registration .container {
  display: flex;
  align-items: center;
  padding: 81px 235px 69px;
}

.list-of-btn {
  display: flex;
  margin-left: auto;
}

.registration-text {
  font-size: 32px;
}

.reg-btn {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  width: 200px;
  height: 48px;
  padding: 0;
}

.reg-btn:hover,
.reg-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-bg-color);
}

.btn-item:not(:last-child) {
  margin-right: 16px;
}

/* ------------Blogs--------------------------------- */

.blogs .container {
  padding: 100px 135px 80px;
}

.blog-advertising {
  background-color: var(--accent-text-bg-color);
  display: flex;
  margin-right: 0;
  margin-bottom: 40px;
}

.blog-title {
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 23px;
}

.blog-text {
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 71px;
}

.bloger-block {
  padding: 63px 0 50px 78px;
}

.bloger {
  color: var(--secondary-text-color);
  margin-bottom: 27px;
}

.blog-content {
  font-size: 48px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  max-width: 492px;
  margin-bottom: 60px;
}

.more-inform {
  font-size: 18px;
  color: var(--secondary-text-color);
}

.blog-list {
  display: flex;
}

.blog-item {
  padding: 48px;
}

.title-blog-item {
  font-size: 24px;
  margin-bottom: 16px;
}

.text-blog-item {
  font-size: 18px;
  margin-bottom: 16px;
}

.more-inform-item {
  color: var(--text-color);
}

/* ------------FOOTER--------------------------------------- */

.footer .container {
  background-color: var(--third-bgc);
  padding: 106px 220px 35px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer-list {
  display: flex;
  align-items: center;
  margin-bottom: 43px;
}

.footer-item:not(:last-child) {
  margin-right: 80px;
}

.stripe {
  width: 100%;
  height: 0px;
  border: 1px solid var(--text-color);
  margin-bottom: 85px;
}

.footer-nav-link {
  color: var(--text-color);
}

.footer-logo {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  line-height: 2.17;
  text-align: center;
  color: var(--accent-color);
  margin-right: 141px;
  margin-left: 141px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.social-list-item:not(:last-child) {
  margin-right: 24px;
}

.copywrite {
  display: flex;
  justify-content: center;
}

.copywrite-text:not(:last-child) {
  margin-right: 14px;
}
